.ourService{ 
    /* height:450px;  */
    padding: 30px 10% ;
    background-color: rgb(47, 54, 50);
    color:white
}

.ourService>p{
    color: orange;
    margin-bottom: 0 ;
}
.ourService>h1{
    margin: 0;
}
.service-divs{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    margin-top: 30px;
}
.service-divs>div{
    /* width:200px; */
    height: 160px;
    border: 1px solid black;
    font-size:300%;
    padding: 20px;
}
.service-divs>div>h5{
    font-size: medium;
    margin: 0%;
}
.service-divs>div>p{
   font-size: small;
   margin: 3%;
   color: rgb(158, 157, 157);
}



@media only screen and (max-width: 767.98px) and (min-width:375px) {
    .service-divs{
        grid-template-columns: repeat(2, 220px);
    }
}
@media only screen and  (max-width: 375px) and (min-width:0px) {
    .service-divs{
        grid-template-columns: repeat(1, 200px);
        margin: auto;
        margin-top: 30px;
    }
}
 
#btn{
  background: none;
  border: 1px solid black;
  margin-top: 10%;
  padding: 10px 30px;
  color: white;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}